<!--
 ~ Copyright 2008-2010 Bay Area Software, Inc.
 ~
 ~ Licensed under the Apache License, Version 2.0 (the "License");
 ~ you may not use this file except in compliance with the License.
 ~ You may obtain a copy of the License at
 ~
 ~     http://www.apache.org/licenses/LICENSE-2.0
 ~
 ~ Unless required by applicable law or agreed to in writing, software
 ~ distributed under the License is distributed on an "AS IS" BASIS,
 ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 ~ See the License for the specific language governing permissions and
 ~ limitations under the License. 
-->
<web-app version="2.4"
         xmlns="http://java.sun.com/xml/ns/j2ee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd" >

<servlet>
  <servlet-name>chart</servlet-name>
  <servlet-class>com.bayareasoftware.tag.ChartServlet</servlet-class>
  <load-on-startup>1</load-on-startup>
<!--
  Chart servlet configuration.  They may be specified here, as
  init-param's to the ChartServlet, or else via java system
  properties by the same name.  If you elect to do the configuration
  via init-param's as shown below, then you should also keep
  the ChartServlet with a load-on-startup of greater than zero.
  Otherwise, the chart tag will run before the servlet is initialized,
  and you will get broken image links for the first time that the
  chart tag runs.
-->

<!--
  <init-param>
    <description>
     Specifies a path on the local disk
    </description>
    <param-name>cm.chartCacheDir</param-name>
    <param-value>/tmp/chart-cache</param-value>
  </init-param>
  <init-param>
    <description>
     Specifies a TTL in seconds, for the chart cache.
     A value of 0 means the cache is never used.
    </description>
    <param-name>cm.chartCacheTTL</param-name>
    <param-value>60</param-value>
  </init-param>
  <init-param>
    <description>
      This *MUST* match the url-pattern of the ChartServlet
      mapping stanza, without the wildcard (*).  The servlet
      API provides no portable way to glean this information
      at runtime, I'm afraid.
    </description>
    <param-name>cm.chartServletPrefix</param-name>
    <param-value>/chart-images</param-value>
  </init-param>
  <init-param>
    <description>
     The default JDBC driver class name for SQL queries
    </description>
    <param-name>cm.jdbcDriver</param-name>
    <param-value>org.postgresql.Driver</param-value>
  </init-param>
  <init-param>
    <description>
     The default JDBC URL for SQL queries
    </description>
    <param-name>cm.jdbcUrl</param-name>
    <param-value>jdbc:postgresql://localhost:5432/my_db</param-value>
  </init-param>
  <init-param>
    <description>
     The default JDBC username for SQL queries
    </description>
    <param-name>cm.jdbcUsername</param-name>
    <param-value>bt</param-value>
  </init-param>
  <init-param>
    <description>
     The default JDBC password for SQL queries
    </description>
    <param-name>cm.jdbcPassword</param-name>
    <param-value>tiger</param-value>
  </init-param>
  <init-param>
    <description>
     The JNDI name of the default data source for SQL queries
    </description>
    <param-name>cm.jdbcJndiName</param-name>
    <param-value>jdbc/DemoDS</param-value>
  </init-param>
-->
</servlet>

<servlet>
  <servlet-name>source</servlet-name>
  <jsp-file>/source.jsp</jsp-file>
</servlet>

<servlet-mapping>
  <servlet-name>chart</servlet-name>
  <url-pattern>/chart-images/*</url-pattern>
</servlet-mapping>

<servlet-mapping>
  <servlet-name>source</servlet-name>
  <url-pattern>/source/*</url-pattern>
</servlet-mapping>

 <listener>
  <listener-class>demo.DemoContextListener</listener-class>
 </listener>

<taglib>
  <taglib-uri>http://chartmechanic.com/jsp/chart</taglib-uri>
  <taglib-location>/WEB-INF/taglib.tld</taglib-location>
</taglib>

<resource-ref>
    <description>Demo DataSource Reference</description>
    <res-ref-name>jdbc/DemoDS</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
</resource-ref>

    <jsp-config>
        <jsp-property-group>
            <url-pattern>*.jsp</url-pattern>
            <scripting-invalid>false</scripting-invalid>
            <include-prelude>/WEB-INF/prelude.jspf</include-prelude>
        </jsp-property-group>
    </jsp-config>

</web-app>
